#-------------------------------------------------
# 
# General configuration file for the data-
# preparation and database import.
#
#-------------------------------------------------

[LengthChange]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\LengthChange
directoryInput              = _toImport


[MassBalance]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\MassBalance
directoryInput              = glacier\_to_import
pointDirectoryInput         = point
indexDirectoryInput         = index
fixDatePatternFilename      = _fix
observationPatternFilename  = _obs


[MassBalanceIndexDaily]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\MassBalance
directoryInput              = index\_to_import
indexDailyPatternFilename   = _cum


[MassBalanceIndexSeasonal]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\MassBalance
directoryInput              = index\_to_import
indexDailyPatternFilename   = _mb


[MassBalancePoint]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\MassBalance
directoryInput              = point\_to_import
annualPatternFilename		= _annual
wintersnowPatternFilename	= _winter
intermediatePatternFilename	= _intermediate


[VolumeChange]

rootDirectoryInput          = \\offshore.ee.ethz.ch\glazioarch\GlacioBaseData\VolumeChange
directoryInput              = _toImport
volumeChangePatternFilename = _glev