
*.pyc
src/test.py
*.pyc
*.pyc
src/DataWriters/FileWriters/Database/__pycache__/LengthChangeWriter.cpython-36.pyc
*.pyc
*.log
src/databaseAccessConfiguration.private.cfg
*.private.cfg
src/databaseAccessConfiguration.private.cfg
